html,
body {
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-label {
  margin-right: 10px;
}

.task-list-container li {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-label {
  margin-right: 30px;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  background-color: #232D3F;
  color: rgb(255 255 255);
}

.form-input {
  border-radius: 5px;
}

checkbox {
  margin-right: 50px;
}