.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}

body {
  background-color: #5C5470;
}

.task-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  row-gap: 10px;
}

.btn {
  color: blueviolet;
  border-radius: 10px;
}

.btn:hover {
  color: #5C5470;
}

.task-btn {
  color: black;
  border-radius: 10px;
}

.task-btn:hover {
  color: red;
}

.input-box {
  border-radius: 15px;
  width: 100px;
  height: 20px;
}

/* .text-label {
  font-size: large;
  font-weight: bolder;
}

.task-label {
  font-weight: bolder;
  font-size: 10px;
  width: 100px;
  height: 200px;
}

ul l1 {
  list-style: none;
  list-style-type: none;
} */

.checkbox {
  color: black;
}